{% extends 'dashboard/index.html.twig' %}

{% block dashboard_navbar %}
{% endblock %}


{% block random %}
    <div class="container mt-5">
        <h1 class="text-center">Liste des catégories</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom catégories</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <form method="post" action="{{ path('app_dashboard_category_delete',{'id':category.id}) }}" onsubmit="return confirm('Êtes vous sur de ouvloir supprimer cette catégorie')">
                            <button type="submi" class="btn btn-danger">Supprimer</button>
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}